DATABASE_URL="file:./dev.db"
JWT_SECRET="local-shop-super-secret-jwt-key-2026-production-ready"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXT_PUBLIC_SHOP_NAME="FreshMart Local Shop"
NEXT_PUBLIC_SHOP_PHONE="+91 73804 92118"
NEXT_PUBLIC_SHOP_WHATSAPP="+917380492118"
NEXT_PUBLIC_SHOP_EMAIL="contact@freshmart.local"
NEXT_PUBLIC_SHOP_ADDRESS="Main Market, Shop #12, Near Clock Tower, City Center"
NEXT_PUBLIC_CURRENCY_SYMBOL="₹"
NEXT_PUBLIC_FREE_DELIVERY_THRESHOLD="499"
NEXT_PUBLIC_DEFAULT_DELIVERY_FEE="40"
